.section {
   display: flex;
   flex-wrap: wrap;
   gap: 16px;
   padding-bottom: 40px;
   &_center {
      justify-content: center;
   }

   @media (max-width: 1024px) {
      padding-right: 16px;
   }
}
