.search {
   overflow-y: auto;
   scrollbar-width: none;
   height: 100%;
   background-color: $grey-light;
   padding-top: 32px;

   display: flex;
   flex-direction: column;

   &__title {
      margin-bottom: 24px;
      text-align: center;
   }

   &__category {
      margin-bottom: 28px;
   }

   &__input {
      margin-bottom: 16px;
   }

   &__result {
      color: $text-fedded;
      font-size: 14px;
   }

   &__notfound {
      margin-top: 6.4rem;
      text-align: center;
      font-size: 18px;
   }

   &__section {
      max-height: 60vh;
      overflow-y: auto;
      scrollbar-width: none;
      padding-bottom: 4rem;
      margin-bottom: 3rem;
   }

   &__row {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
      margin-top: 28px;

      &_mt {
         margin-top: 36px;
      }
   }

   &__btn {
      width: 48rem;

      margin-left: auto;
      margin-right: auto;
      margin-top: auto;
      margin-bottom: 4.8rem;
   }
}
