.root {
   :global {
      li {
         display: inline-block;

         &.selected {
            a {
               background-color: $grey-light;
               color: $text-color;
            }
         }

         &:not(:last-child) {
            margin-right: 10px;
         }
      }

      a {
         display: inline-flex;
         align-items: center;
         justify-content: center;

         cursor: pointer;

         padding: 5px 15px;
         color: $text-color;
         border-radius: 50%;

         transition: background-color 0.15s ease, color 0.15s ease;

         &:hover {
            background-color: $grey-light;
            color: $text-color;
         }
      }
   }
}
