.main {
   height: 100vh;
   display: grid;
   grid-template-columns: 96px 1fr;
   overflow: hidden;
}

.wrapper {
   overflow-y: auto;
   scrollbar-width: none;
}

@media (max-width: 1024px) {
   .main {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
   }
   .wrapper {
      height: 100%;
      background-color: $grey-light;
   }
}
