.navbar {
   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: column;
   flex: 0 0 auto;

   padding: 20px 10px 48px;
   background-color: $bg-input;
   z-index: 3;

   &__top {
      display: flex;
      justify-content: center;
      flex-shrink: 0;

      margin-bottom: 33px;
      padding-bottom: 20px;
      border-bottom: 1px solid #8a8a8a;
   }

   &__logo {
      width: 56px;
      height: 58px;

      path {
         fill: $text-color;
      }

      &_active {
         path {
            fill: $primary-color;
         }
      }
   }

   &__col {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      flex-grow: 1;
   }

   &__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 24px;
   }

   &__btn {
      width: 56px;
      height: 56px;

      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 10px;
      background: $grey-light;
      @include transition;

      &_search {
         path {
            fill: transparent !important;
            stroke: #8a8a8a;
         }
      }

      svg {
         width: 24px;
         height: 24px;
         overflow: hidden;
         path {
            fill: #8a8a8a;
         }
      }

      &_active {
         background-color: $primary-color;
         svg {
            path {
               fill: $grey-light;
               stroke: $grey-light;
            }
         }
      }

      @media (hover: hover) and (pointer: fine) {
         &:hover {
            background-color: $primary-color;
            svg {
               path {
                  fill: $grey-light;
                  stroke: $grey-light;
               }
            }
         }
      }

      &:active {
         background-color: $primary-color;
         svg {
            path {
               fill: $grey-light;
               stroke: $grey-light;
            }
         }
      }
   }

   &__login {
      svg {
         fill: $text-color;
      }
   }

   &__logout {
      svg {
         path {
            fill: #ff5151;
         }
      }
   }

   &__bottom {
      display: flex;
      flex-direction: column;
      row-gap: 15px;
   }

   @media (max-width: 1024px) {
      background-color: $white-color;
      height: auto;
      flex-direction: row;
      padding: 20px 16px;
      box-shadow: 0px 4px 29.1px 7px rgba(0, 0, 0, 0.25);
      &__top {
         display: none;
      }

      &__col {
         flex-direction: row;
         justify-content: center;
         column-gap: 60px;
      }

      &__list {
         flex-direction: row;
         align-items: center;
         column-gap: 20px;
      }

      &__bottom {
         flex-direction: row;
         column-gap: 20px;
      }

      &__btn {
         width: 44px;
         height: 44px;
      }
   }

   @media (max-width: 600px) {
      &__list {
         justify-content: space-around;
         flex-grow: 1;
      }
      &__btn {
         width: 34px;
         height: 34px;
      }

      &__bottom {
         display: none;
      }
   }
}
