// Main colors
$black-color: #000;
$white-color: #fff;

// primary
$primary-color: #fa9e31;

// text colors
$text-color: #343434;
$text-fedded: #666666;

// bg-color
$grey-light: #fafafa;
$bg-input: #ededed;

// proccess
$error-color: red;
$success-color: green;

// typography
$font-size-paragraph: 16px;
